{{!< usrnv1}}
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

            <!-- send money content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     

     <div class="table-responsive" style="margin-left: 20em;">

      <h2 style="margin-left: 7em; margin-top: 1em; color:#663366;">Send money</h2>
      <iframe  name='myiframe' src='../button/frame' width="640px" height="1080px" frameBorder="0"> 
</iframe>
      
</div>
       
      
     
        
    </main>
  </div>
</div>
