
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Dashboard</title>
  <!-- Bootstrap core CSS-->
  <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  
  
  
<link href="stylesheets/dashboard.css" rel="stylesheet">
<link href="stylesheets/headers.css" rel="stylesheet">

 
</head>
<body>

 
 
<head>
  <link href="stylesheets/css/sb-admin-3.css" rel="stylesheet">
</head>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">EZANA PAYMENT SERVICE</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
 
        <ul  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 " style=" align-items: : center; ">
           <li><a href="#" style="color:  #ffc107" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" style="color:  #ffc107" class="nav-link px-2 link-dark">Inventory</a></li>
          <li><a href="#" style="color:  #ffc107" class="nav-link px-2 link-dark">Customers</a></li>
          <li><a href="#" style="color:  #ffc107" class="nav-link px-2 link-dark">Products</a></li>
        </ul>

        

        <div class="dropdown text-end"style=" margin-right: -20em; ">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>

          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
</div>
 <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</header>


  <div class="content-wrapper" >
    
      <!-- Breadcrumbs-->
 

  

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4" style="
    margin-bottom: -2.5rem !important; padding-top: 1em; margin-right: 5em;
">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="container-fluid" >
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="dashboard">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="send">
              <span data-feather="file"></span>
              Send money
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="orders">
              <span data-feather="shopping-cart"></span>
              Transactions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add-bank">
              <span data-feather="users"></span>
              Add bank account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addfund">
              <span data-feather="bar-chart-2"></span>
              Withdraw to bitcoin
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Report
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Business tools</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="analytic">
              <span data-feather="file-text"></span>

             
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

            <!-- Earnings (Monthly) Card Example -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     

     

      <h2 style="margin-left: 7em; margin-top: 1em; color:#663366;">Transfer Funds</h2>
      
      <form class="add_customer_form" action="http://localhost:1337/send_funds_actionx/create" method="POST">
        <div class="flex-container-form_header">
            <h1 id="form_header">Transfer Funds</h1>
        </div>

        <div class="flex-container">
            <div class=container>
                <label>
                    To : <label id="info_label">
                        <?php echo $row5["first_name"]." ".$row5["last_name"] ?>
                        <input type="hidden" name="benf_id" value="<?php echo $row["cust_id"] ?>">
                        <input type="hidden" name="phon" value="<?php echo $phno ?>">

                    </label>
                </label>
            </div>
        </div>

        <div class="flex-container">
            <div class=container>
                <label>Phone No : <label id="info_label"><?php echo $phno ?></label></label>
            </div>
        </div>

        <div class="flex-container">
            <div class=container>
                 <label>Amount : <label id="info_label"><?php echo $_POST['amount']; ?> Birr</label></label>
                
            </div>
        </div>

        <div class="flex-container">
            <div  class=container>
                <label>Enter your PIN :</b></label><br>
                <input name="pin" size="24" type="password" required />

            </div>
        </div>




        <div class="flex-container">
            <div class="container">
                <a href="/send" class="button">Go Back</a>
            </div>

            <div class="container">
                <input name="submit_val" type="submit" value="submit">Submit</button>
            </div>

            
        </div>

    </form>
    </main>
  </div>
</div>
 <script src="/javascripts/vendor/jquery/jquery.min.js"></script>
    <script src="/javascripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/javascripts/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="javascripts/vendor/datatables/jquery.dataTables.js"></script>
    <script src="javascripts/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="javascripts/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="javascripts/js/sb-admin-datatables.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="javascripts/js/sb-admin-datatables.min.js"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      
  </body>
</html>
