{{!< usrnv1}}

            <!-- send money content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     
<style>
	.upin :hover{
		color: #000;
	}
	.upin{
		text-decoration-line: none;
		cursor: pointer;
		
	}a:hover {
    color: #000;
}
</style>


    

      <h2 style="margin-left: 0em; margin-top: 1em; ">Upload-image</h2>
      
        <div class="bd-example">
        <nav>
          <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Update product option image</button>
            
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p><strong>Upload images for all options inS a product.</strong>If a product doesnt have options you can upload the main product image and skip the options section.</p>
            <nav>
              <br>
              
          
          <br>
		  <div class="row g-3">
      
          <form  name="upin"  action="../uprim/photos" enctype="multipart/form-data" method="POST">
		 
         
			 <div class="col-sm-2">    
             <input type="FILE" name="image" class="ddpOptionName text large" id="customFile" accept='image/*' multiple>
			</div>
			<div class="col-sm-2">
				
			<input type="submit" class="btn btn-primary btn btn-sm " value="Upload">
       
		  </div></form></div> <br></div>
				
				
					</div>
        
       
           
        </div>

     
    </main>
  </div>
</div>



